[Desktop Entry]
Name=Gazebo GUI
Comment=Launch Gazebo client for neo_workshop
Exec=bash -c 'export DISPLAY=:10; source /opt/ros/humble/setup.bash; source /home/ubuntu/shared/neobotix_workspace/install/setup.bash; exec gzclient --gui-client-plugin=libgazebo_ros_eol_gui.so'
Type=Application
Terminal=false
Icon=applications-graphics
Categories=Science;Robotics;
